{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<div id="info">
    <h1>О нас</h1>
    <p>Мы рады приветствовать вас в интернет-магазине Hotspot!</p>
    <p>Hotspot - это магазин, который предлагает широкий ассортимент товаров по низким ценам и высокому качеству. Мы стремимся удовлетворить потребности наших клиентов, предлагая только лучшие товары.</p>
    <p>Магазин Hotspot был открыт в 2010 году двумя братьями, Максимом и Александром Ивановыми. Они разделяют общую страсть к технологиям и решили создать магазин, где каждый сможет найти необходимые товары по доступным ценам.</p>
    <p>Наш магазин предлагает широкий выбор электроники, компьютеров, мобильных устройств, бытовой техники и многое другое. Мы тщательно отбираем товары, чтобы убедиться, что они соответствуют нашим стандартам качества.</p>
    <p>Мы гордимся нашим отличным обслуживанием клиентов. Наша команда всегда готова помочь вам с выбором товара, ответить на ваши вопросы и обеспечить приятный опыт покупок.</p>
    <p>Благодарим вас за выбор магазина Hotspot! Мы надеемся, что вы останетесь довольны нашими услугами и продуктами.</p>
    <p>Сайт сделан лушими програмистами мира.</p>
</div>
{% endblock %}

