<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Main page{% endblock %}</title>
    <link rel="stylesheet" href="../../static/css/base.css">
</head>
<body>
    <header>
        <div id="head">
            <p class="title">
                Hotspot
                <a href="http://127.0.0.1:8000/" id="a1">Котегории</a>
                <a href="http://127.0.0.1:8000/all/" id="a2">Все товары</a>
                <a href="http://127.0.0.1:8000/info/" id="a3">О нас</a>
                <a href="http://127.0.0.1:8000/cat/" id="a4">Учителю Атабек</a>
            </p>
        </div>
    </header>
    <div id="logo">
        <div id="log">
            <p id="p1">
                интернет магазин
            </p>
            <p id="p2">
                Hotspot
            </p>
            <p id="p3">
                Низкая цена, высокое качество
            </p>
        </div>
    </div>
    <p></p>
    {% block content %}
    {% endblock %}
    <p></p>
    <footer>
        <p>
            <a href="https://t.me/hotspot_num1"><img src="../../static/images/ico/telegram.ico" alt="tico" id="telegram_ico">@hotspot_num1</a>
            <a href="https://youtu.be/dQw4w9WgXcQ"><img src="../../static/images/ico/instagram.ico" alt="iico" id="instagram_ico">@hotspot_num1</a>
        </p>
        <p>
            <a href="https://youtu.be/dQw4w9WgXcQ"><img src="../../static/images/ico/facebook.ico" alt="fico" id="facebook_ico">@hotspot_shop</a>
            <a href="https://youtu.be/dQw4w9WgXcQ"><img src="../../static/images/ico/twitter.ico" alt="tico" id="twitter_ico">@hotspot_sale</a>
        </p>
    </footer>
</body>
</html>
