<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Main page{% endblock %}</title>
    <link rel="stylesheet" href="../../static/css/base.css">
</head>
<body>
    <header>
        <div id="head">
            <p class="title">
                Hotspot
                <a href="http://127.0.0.1:8000/" id="a1">Товары</a>
                <a href="http://127.0.0.1:8000/info/" id="a2">О нас</a>
                <a href="http://127.0.0.1:8000/cat/" id="a3">Учителю Атабек</a>
            </p>
        </div>
    </header>
    <div id="logo">
        <div id="log">
            <p id="p1">
                интернет магазин
            </p>
            <p id="p2">
                Hotspot
            </p>
            <p id="p3">
                Низкая цена, высокое качество
            </p>
        </div>
    </div>

    {% block content %}
    {% endblock %}
    
    <footer>
        <div id="footer">
            <div id="links">
                <p>
                    <a href="https://t.me/hotspot_num1"><img src="../../static/images/ico/telegram.ico" alt="tico">@hotspot_num1</a>
                    <a href="https://youtu.be/dQw4w9WgXcQ"><img src="../../static/images/ico/instagram.ico" alt="iico">@hotspot_num1</a>
                </p>
                <p>
                    <a href="https://youtu.be/dQw4w9WgXcQ"><img src="../../static/images/ico/facebook.ico" alt="fico">@hotspot_shop</a>
                    <a href="https://youtu.be/dQw4w9WgXcQ"><img src="../../static/images/ico/twitter.ico" alt="tico">@hotspot_sale</a>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
